.container
  .row
    %h2 All requests
  .row
    %table.request
      %tr.request__header
        %td
        %td Topic
        %td Problem
        %td Asked by
        %td Helped by
      - supports.each_with_index do |s, i|
        %tr.request__list
          =render 'list', support: s, index: i
